
{% extends 'index.html' %}

{% block content %}

<form action="{% url 'agendador:adicionar_agendamento' %}" method="POST">
    {% csrf_token %}
    <div class="corpo">
        <input type="hidden" name="id_empresa" value="{{id_empresa}}">
        <h1 class="adicionar_agendamento-titulo">Adicionar agendamento</h1>
        <div class="novo_agendamento">
            <select class="adicionar_agendamento-input" name="cliente" id="select-func" required>
                <option value="None">Selecionar Cliente</option> <!-- adicionar verificacao se ele nao selecionar uma opcao-->
                {% for cliente in clientes %}
                <option value="{{cliente.id}}">{{cliente.nome}}</option>
                {% endfor %}
            </select>
            <input name="data_agendamento" class="adicionar_agendamento-input" type="date">
            <input name="hora_agendamento" class="adicionar_agendamento-input" type="time">
            <select class="adicionar_agendamento-input" name="funcionario" id="select-func" required>
                <option value="None">Selecionar Funcionario</option> <!-- adicionar verificacao se ele nao selecionar uma opcao-->
                {% for funcionario in funcionarios %}
                <option value="{{funcionario.id}}">{{funcionario.nome}}</option>
                {% endfor %}
            </select>
            <select class="adicionar_agendamento-input" name="servico" id="select-serv" required>
                <option value="None">Selecionar Servico</option> <!-- adicionar verificacao se ele nao selecionar uma opcao-->
                {% for servico in servicos %}
                <option value="{{servico.id}}">{{servico.nome}}</option>
                {% endfor %}
            </select>
            <button type="submit" class="adicionar_agendamento-botao" id="add-agend">Adicionar</button>
        </div>
	</div>
</form>

{% endblock %}