{% extends 'index.html' %} {% block content %}
<div class="corpo">
  <form action="{% url 'tela_agenda' %}" method="POST">
    {% csrf_token %}
    <section class="data__agenda">
      <label for="data__agenda--input" class="data__agenda--titulo">Selecione a data</label>
      <input type="date" name="data" id="data__agenda--input" value="{{data}}" />
      <input type="hidden" name="id_empresa" value="{{id_empresa}}" />
    </section>
    <select id="funcionario" name="funcionario">
      <option>Todos Funcionários</option>
      {% for funcionario in funcionarios %}
      	<option value="{{funcionario.id}}">{{funcionario.nome}}</option>
      {% endfor %}
    </select>
    <select id="servico" name="servico">
      <option>Todos Servicos</option>
      {% for servico in servicos %}
      	<option value="{{servico.id}}">{{servico.nome}}</option>
      {% endfor %}
    </select>
    <button type="submit">Enviar</button>
  </form>
  <form action="{% url 'tela_adicionar_agendamento' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="id_empresa" value="{{id_empresa}}" />
    <button type="submit" class="adicionar__agendamento">Adicionar Agendamento</button>
    <!-- <a type="submit" class="adicionar__agendamento">Adicionar agendamento</a> -->
  </form>
  <div class="agendamentos">
    {% for agendamento in agendamentos %}
    <div class="agendamento">
      <div class="agendamento__cabecalho">
        <h1 class="horario">{{agendamento.data}} - {{agendamento.hora}}</h1>
        <a href="editar-agendamento.html" class="agendamento__cabecalho--editar"
          ><img
            src="/Icones/editar.svg"
            alt=""
            class="agendamento__cabecalho--icone"
        /></a>
      </div>
      <h2 class="servico">{{agendamento.servico.nome}}</h2>
      <p class="cliente">{{agendamento.cliente.nome}}</p>
      <p class="funcionario">{{agendamento.funcionario.nome}}</p>
	  <form action="{% url 'verifica_botoes_agendamento' %}" method="POST">
		{% csrf_token %}
      <button type="submit" name="excluir_agendamento" class="agendamento__deletar">Excluir agendamento</button>
		  <input type="hidden" name="id_agendamento" value="{{agendamento.id}}">
		  <button type="submit" name="editar_agendamento" class="agendamento__deletar">Editar Agendamento</button>
	  </form>
  </div>
  {% endfor %}

  </div>

{% endblock %}
