{% extends 'index.html' %}

{% block content %}
	<div class="corpo">
        <h1 class="editar__agendamento--titulo">Editar agendamento</h1>
		<div class="agendamento">
			<div class="agendamento__cabecalho">
				<div class="agendamento__cabecalho--edicoes">
					<a href="agenda.html" class="agendamento__cabecalho--confirmar"><img src="../icones/confirmar.svg" alt="" class="agendamento__cabecalho--icone"></a>
                    <a href="agenda.html" class="agendamento__cabecalho--cancelar"><img src="/icones/cancelar.svg" alt="" class="agendamento__cabecalho--icone"></a>
                </div>
			</div>
			<input type="datetime-local" class="editar-horario">
			<select class="editar-servico">
				<option>Servico</option>
			</select>
			<input type="text" placeholder="Cliente" class="editar-cliente">
			<select class="editar-funcionario">
				<option>Funcionario</option>
			</select>
		</div>
	</div>
{% endblock %}