.filtros__agendamento{
	display: flex;
	flex-direction: column;
	gap: 8px;
	min-width: 60%;
}

.agendamentos{
	display: flex;
	overflow: scroll;
}

.agendamento{
	text-align: left;
	background-color: whitesmoke;
	border-radius: 5px;
	
	min-width: 300px;
	max-width: 400px;
	
	padding: 16px;
	margin: 10px;
}

/* .agendamento__cabecalho{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
} */

.agendamento__titulo{
	font-size: 18px;
	font-weight: bold;
}

.agendamento__paragrafo{
	font-size: 16px;
	margin: 4px 0;
}


@media screen and (min-width: 720px) {
	.filtros__agendamento{
		flex-direction: row;
		margin: 16px 0;
	}
  
	input#input__data__sem__label,
	select.select {
	  width: 20%;
	}
  
	button.btn__filtrar {
	  width: 10%;
	}
  
	button.btn__adicionar.tamanho__pequeno{
	  width: 200px;
	  height: 30px;
	}
  }