

.data__agenda--titulo{
	font-size: 32px;
	display: block;
}

#data__agenda--input{
	background-color: whitesmoke;
	margin: 16px 0;
	border-radius: 5px;
	width: 90%;
	height: 30px;
	max-width: 350px;
	border: 0;
	border: 1px solid whitesmoke;
}

#funcionario{
	background-color: whitesmoke;
	border-radius: 5px;
	width: 90%;
	max-width: 350px;
	border: 0;
	border: 1px solid whitesmoke;
	height: 30px;
}

.adicionar__agendamento{
	display: block;
	margin: 16px 0;
	background-color: #46B93C;
	padding: 8px;
	width: 90%;
	margin: 16px auto;
	max-width: 350px;
	border-radius: 20px;
	color: white;
	text-decoration: none;
}

.agendamentos{
	display: flex;
	overflow: scroll;
}

.agendamento{
	max-width: 400px;
	background-color: whitesmoke;
	padding: 16px;
	border-radius: 5px;
	text-align: left;
	margin: 10px;
}

.agendamento > h1, h2, p, div{
	margin: 8px 0;
}

.agendamento__cabecalho{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.horario{
	font-size: 16px;
	font-weight: bold;
}

.servico{
	font-size: 25px;
}

.cliente{
	font-size: 20px;
}

.funcionario{
	font-size: 18px;
}

.agendamento__deletar{
	background-color: #F83A3A;
	color: white;
	border: 0;
	padding: 8px;
	border-radius: 20px;
	cursor: pointer;
}

.corpo{
	background-color: transparent;
	border: none;
	width: 60%;
	margin: 120px auto;
	padding: 30px;
	text-align: center;
	min-width: 300px;
}

@media screen and (min-width: 720px){
	.corpo{
		border-radius: 30px;
		box-shadow: 2px 2px 40px grey;
	}
}