/* OLHAR */
.container_botoes_finais {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 5px 10px;
  font-size: 16px;
}

.container_botoes_finais:hover {
  transform: scale(1.2);
}

.btn__adicionar {
  text-decoration: none;
  font-weight: bold;
  color: #3071c7;
}

.btn__relatorio {
  font-weight: bold;
  color: #b62d2d;
}
/* ------------------------------------- */

.filtros__contas_a_receber {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;

  border-radius: 5px;

  padding: 8px;
  margin: 8px auto;
}

.container__datas {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  flex-wrap: wrap;
}

select.select.preencher{
    min-width: 375px;
    width: 100%;
}

.data {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--cor-fundo);
  border: 1px solid var(--cinza-claro);
  border-radius: 5px;

  width: 100%;
  min-width: 275px;
}

.label__input {
  font-size: 14px;
  padding-right: 4px;
  padding-left: 2px;
}

.input__com__label {
  border: none;
  background: transparent;
  min-width: 40px;
}

.container-linha1 {
  display: flex;
  align-items: center;
  margin: 5px;
  margin-bottom: 8px;
  min-width: 400px;
}

.section-total {
  padding: 8px;
}

section .total {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 10px 5px;

  background-color: var(--cor-fundo);
  border-radius: 5px;
  border: 1px solid var(--cinza-claro);

  min-width: 370px;
}

section .total h3 {
  padding-left: 5px;
  margin: 5px;
  font-weight: normal;
}

section .total p {
  padding-right: 5px;
  margin: 5px;
  font-size: 16px;
  font-weight: bold;
}

.recebidas {
  color: #3071c7;
}
.a-receber {
  color: #b62d2d;
}

details.conta {
  background-color: var(--cinza-claro);

  border: 1px solid var(--cinza-claro);
  border-radius: 5px;

  min-width: 370px;
  padding: 8px;
  margin-bottom: 10px;
  cursor: pointer;
}

details.conta > summary {
  list-style: none;
}

details.conta > summary::-webkit-details-marker {
  display: none;
}

summary.summary {
  padding: 8px;
}

.conta__cabecalho {
  margin: 8px;
}

.servico__e__valor {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.servico__titulo,
.servico__preco {
  font-weight: bold;
  font-size: 24px;
}

.status__conta {
  width: 5.5rem;
  border-radius: 8px;

  margin: 5px 0px;
  padding: 5px;

  font-size: 16px;
  text-align: center;
}

.quitado {
  background-color: #3c8f34;
}

.pendente {
  background-color: #b62d2d;
}

.caixa__informacoes {
  margin: 4px;
  padding: 8px;
}
.titulo__informacoes {
  font-size: 16px;
  font-weight: bold;
}

.servico__paragrafo {
  margin: 5px;
  font-weight: normal;
}

.contas {
  padding: 8px;
}

@media screen and (min-width: 780px) {
  .linha-opcoes {
    display: flex;
    align-items: center;
    margin: 5px;
    margin-bottom: 8px;
    min-width: 400px;
  }

  .container__datas{
    flex-wrap: nowrap;
  }

  .section-total {
    display: flex;
    align-items: center;
    padding: 0;
  }

  section .total {
    min-width: 270px;
    width: 100%;
  }

  .total h3 {
    padding-right: 20px;
  }

  .contas {
    padding: 0px;
  }
}
