/* OLHAR */
.container_botoes_finais {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 5px 10px;
  font-size: 16px;

  box-sizing: border-box;
}

.container_botoes_finais:hover {
  transform: scale(1.2);
}

.btn__adicionar__conta {
  text-decoration: none;
  font-weight: bold;
  color: #3071c7;
}

.btn__relatorio {
  font-weight: bold;
  color: #b62d2d;
  text-decoration: none;
}
/* ------------------------------------- */

.filtro--datas {
  width: 100%;
  min-width: 370px;
  margin: 8px auto;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 8px;
}

.filtro--datas--details {
  display: flex;
  flex-direction: column;

  padding: 8px;

  width: 30%;

  color: black;

  background-color: whitesmoke;

  border-radius: 4px;
  border: 1px solid var(--cinza-claro);

  cursor: pointer;
}

.filtro--datas--cabecalho {
  width: 90%;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.titulo--filtro--datas {
  max-width: 100px;

  cursor: pointer;
}

.filtro--datas--inputs {
  width: 100%;

  margin: 16px auto 0 auto;

  display: flex;
  flex-direction: column;
  align-items: left;

  cursor: initial;
}

.filtro--datas--input {
  width: 90%;

  margin: 8px auto;
  padding: 4px;
}

.filtros__contas_a_receber {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;

  border-radius: 5px;

  padding: 8px;
  margin: 8px 0;
}

.container__datas select.select {
  min-width: 130px;
  width: 100%;
}

select.select.preencher {
  min-width: 375px;
  width: 100%;
}

.container-linha1 {
  display: flex;
  align-items: center;
  margin: 5px;
  margin-bottom: 8px;
  min-width: 400px;
}


section .total {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 10px 0px;

  background-color: var(--cor-fundo);
  border-radius: 5px;
  border: 1px solid var(--cinza-claro);

  min-width: 370px;
}

.status,
.funcionario_contas {
  text-align: center;
  background-color: var(--cor-fundo);
  border: 1px solid var(--cinza-claro);
  border-radius: 5px;
  margin-right: 10px;
  margin-top: 2px;
  height: 25px;
  min-width: 100px;
  height: 30px;
}

section .total p {
  padding-right: 5px;
  margin: 5px;
  font-size: 16px;
  font-weight: bold;
}

.recebidas {
  color: #3071c7;
}
.a-receber {
  color: #b62d2d;
}

details.conta {
  background-color: var(--cinza-claro);

  border: 1px solid var(--cinza-claro);
  border-radius: 5px;

  min-width: 350px;
  padding: 8px;
  margin-bottom: 10px;
  cursor: pointer;

  box-sizing: border-box;
}

details.conta > summary {
  list-style: none;
}

details.conta > summary::-webkit-details-marker {
  display: none;
}

summary.summary {
  padding: 8px;
}

.conta__cabecalho {
  margin: 8px;
}

.servico__e__valor {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.servico__titulo,
.servico__preco {
  font-weight: bold;
  font-size: 24px;
}

.status__conta {
  width: 5.5rem;
  border-radius: 8px;

  margin: 5px 0px;
  padding: 5px;

  font-size: 16px;
  text-align: center;
}

.quitado {
  background-color: #3c8f34;
}

.pendente {
  background-color: #b62d2d;
}

.quitado,
.pendente {
  color: white;
  font-weight: bold;
}

.caixa__informacoes {
  margin: 4px;
  padding: 8px;
}
.titulo__informacoes {
  font-size: 16px;
  font-weight: bold;
}

.servico__paragrafo {
  margin: 5px;
  font-weight: normal;
}

.servico--paragrafo,
.servico-cabecalho h1 {
  margin: 5px;
  font-weight: normal;
}

.selecoes {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media screen and (min-width: 780px) {
  .linha-opcoes {
    display: flex;
    align-items: center;
    margin: 5px;
    margin-bottom: 8px;
    min-width: 400px;
  }

  .section-total {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0;
  }

  section .total {
    min-width: 270px;
    width: 100%;
  }

  .total h3 {
    padding-right: 20px;
  }

  .contas {
    padding: 0px;
  }

  .selecoes {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .selecoes select.select {
    height: 32px;
  }
}
