:root {
  --cor-primaria: #004aad;
  --cor--secundaria: #f49223;
  --cor-fundo: whitesmoke;
  --cinza-claro: #e5e5e5;
  --verde: #46b93c;
  --vermelho: #f83a3a;

  --fonte-Source-Sans-Pro: "Source Sans Pro", sans-serif;
}

body {
  font-family: "Montserrat", sans-serif;
  background: whitesmoke;
  /* font-family: var(--fonte-Source-Sans-Pro); */
}

.corpo {
  background-color: transparent;
  width: 90vw;
  margin: 10px auto;
  padding: 10px;
  min-width: 300px;
}

h1.titulo {
  font-size: 32px;
  margin: 8px;
}

.sub__titulo{
  font-size: 24px;
}


h1.titulo.centralizado {
  text-align: center;
  margin-bottom: 16px;
}

select.select {
  background-color: var(--cor-fundo);
  border: 1px solid var(--cinza-claro);
  border-radius: 5px;

  padding: 5px;
  min-width: 370px;
}

.altura__32px{
  height: 32px;
}

.negrito{
  font-weight: bold;
}

.nao__encontrado{
  background-color: white;
  
  border-radius: 5px;
  border: 1px solid var(--cinza-claro);

  min-width: 200px;
  padding: 8px;
  margin: 8px 0;
}

@media screen and (min-width: 1115px) {
  body{
    background: white;
  }

  .container{
    display: flex;
    position: relative;
  }

  .corpo {
    max-width: 70vw;
    min-width: 850px;
    
    margin: 20px;
    padding: 28px;
  }
  
  .container_conteudo{
    width: 100vw;
    background-color: inherit;
    
    margin-left: 200px;

    display: flex;
    justify-content: center;
  }

  .nao__encontrado{
    background-color: whitesmoke;
  }

  select.select{
    min-width: 150px;
  }
}
