:root {
  --cor-primaria: #004aad;
  --cor--secundaria: #f49223;
  --cor-fundo: whitesmoke;
  --cinza-claro: #e5e5e5;
  --verde: #46b93c;
  --vermelho: #f83a3a;

  --fonte-Source-Sans-Pro: "Source Sans Pro", sans-serif;
}

body {
  font-family: "Montserrat", sans-serif;
  background: whitesmoke;
  /* font-family: var(--fonte-Source-Sans-Pro); */
}

.corpo {
  background-color: transparent;
  width: 90vw;
  margin: 40px auto;
  padding: 10px;
  min-width: 300px;
}

h1.titulo {
  font-size: 32px;
  margin: 8px;
}

.sub__titulo {
  font-size: 24px;
}

h1.titulo.centralizado {
  text-align: center;
  margin-bottom: 16px;
}

select.select {
  background-color: var(--cor-fundo);
  border: 1px solid var(--cinza-claro);
  border-radius: 5px;

  padding: 5px;
}

.invalido {
  color: #721c24 !important;
  background-color: #f8d7da !important;
  border-color: #f5c6cb !important;
}

.altura__32px {
  height: 32px;
}

.negrito {
  font-weight: bold;
}

.nao__encontrado {
  background-color: white;

  border-radius: 5px;
  border: 1px solid var(--cinza-claro);

  min-width: 200px;
  padding: 8px;
  margin: 8px 0;
}

@media screen and (min-width: 950px) {
  .corpo {
    width: 60vw;
    max-width: 60vw;
    min-width: 850px;

    margin: 0px auto;
    padding: 30px;

    background-color: white;
    border-radius: 30px;
    box-shadow: 2px 2px 40px gray;
  }

  .nao__encontrado {
    background-color: whitesmoke;
  }
}
