  * {
    margin: 0;
    padding: 0;
    border: none;
  }
  
  ul,
  ol,
  li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  .btnMenu {
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
    background-color: transparent;
  }
  
  .btnMenu_abrir {
    padding: 20px 15px;
  }
  
  .btnMenu_abrir svg,
  .btnMenu_fechar svg {
    width: 32px;
    height: 32px;
  }
  
  .btnMenu_fechar {
    position: absolute;
    top: 2px;
    left: 200px;
  }
  
  .menu__cabecalho {
    display: flex;
    align-items: center;
    gap: 8px;
  
    padding: 16px 15px;
    margin: 32px 0 8px 0;
  }
  
  a.menu__item__acao {
    display: flex;
    align-items: center;
    gap: 8px;
  
    font-size: 15px;
    padding: 16px 15px;
  }
  
  a.menu__item__acao:hover {
    background-color: antiquewhite;
  }
  
  .menu {
    position: absolute;
    top: 0;
    left: 0;
  
    background-color: white;
    width: 240px;
    height: 100%;
  
    transform: translateX(-100%);
    transition: transform 1s ease;
    z-index: 1;
  }
  
  .menu__aberto {
    transform: translateX(0);
  }
  
  .nome__empresa {
    font-size: 20px;
    font-weight: bolder;
  }
  
  @media screen and (min-width: 720px) {
    .menu {
      background-color: rgb(245, 165, 60);
    }
  }
  