{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale='1.0'" />

    <title>Agendador</title>
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/componentes/botoes.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/componentes/input.css' %}"/>
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"/>
    
    <link rel="stylesheet"  type="text/css" href="{% static 'css/agenda.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/formulario__agendamento.css' %}"/>
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/contasAReceber.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/formulario__contas.css' %}"/>
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/menu.css'%}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/telaPrestador.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/telaCadastro.css' %}"/>
    
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet"/>
  </head>
  <body>
    {% block content %} {% endblock %}

    <script src="{% static 'js/telaPrestador.js' %}"></script>
    <script src="{% static 'js/telaContasAReceber.js' %}"></script>
    <script src="{% static 'js/menu.js' %}"></script>
    <script src="{% static 'js/mascara_cnpj.js' %}"></script>
  </body>
</html>
