{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale='1.0'">

    <title>Agendador</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/globalcss.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/agenda.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/adicionar-agendamento.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/adicionar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/editar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/editar-agenamento.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/contasAReceber.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/telaPrestador.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}">


    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="geral">
        <img id="logo--senac" src="senac-2.webp">
        <div class="perfil--empresa">
            <p>Nome da Empresa</p>
            <img id="foto--perfil" src="perfil.png">
        </div>
    
    </div>
    
    <div class="conteudo">
        <div class="menu__lateral">
            <button class="menu__lateral__item">Minhas Informações</button>
            <button class="menu__lateral__item">Contas a Receber</button>
            <button class="menu__lateral__item">Agenda</button>
        </div>
        <div class="conteudo__container">
            {% block content %} {% endblock %}
        </div>
    </div>
    

    <script src="{% static 'js/telaPrestador.js' %}"></script>
</body>
</html>