{% extends 'index.html' %}

{% block content %}
<div class="container__fundo">
    <form action="{% url 'Login:cadastrar_empresa' %}" method="post">
        {% include 'message.html' %}
        {% csrf_token %}
        <div class="informacoes__geral">
            <div class="info__cadastro">
                <h1 class="titulo__box">Registrar-se</h1>
                
                <div class="botoes__usuarios">
                    <button class="btn laranja negrito" onclick="pessoaFisica(event)"> Pessoa Física </button>
                    <button class="btn laranja negrito" onclick="pessoaJuridica(event)"> Pessoa Juridica </button>
                </div>

                <label for="nome" class="label_tela_cadastro"> Nome </label>
                <input id="nome" class="input__texto" name="nome_cadastro" type="text" placeholder="Digite o Nome da Pessoa Fisica" data-tipo="texto" required/>
                
                <label for="cnpj_cpf" class="label_tela_cadastro" id="label_cnpj_cpf"> CPF </label>
                <input id="cnpj_cpf" class="input__texto" name="cnpj_cpf_cadastro" type="text" placeholder="Digite o CPF" maxlength="14" onkeypress="aplicaMascara()" data-tipo="texto"  required/>
                
                <label for="email" class="label_tela_cadastro"> Email </label>
                <input id="email" class="input__texto" name="email_cadastro" type="email" placeholder="Digite seu e-mail" data-tipo="email" required/>
                
                <label for="senha" class="label_tela_cadastro"> Senha </label>
                <input id="senha" class="input__texto" name="senha_cadastro" type="password" placeholder="Digite sua senha" data-tipo="senha" required/>
            </div>
            <div class="btn__continuar">
                <button type="submit" class="btn btn__azul negrito" id="adicionar"> Registrar-se </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}