{% extends 'index.html' %}

{% block content %}
<div class="container__fundo">
    <form action="{% url 'Login:tela_login' %}" method="POST">  {% csrf_token %}
        <button type="submit" class="botao__voltar"> 
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
          </svg>
        </button>
      </form>
    <form action="{% url 'Login:cadastrar_empresa' %}" method="post">
        {% include 'message.html' %}
        {% csrf_token %}
        <div class="informacoes__geral">
            <div class="info__cadastro">
                <h1 class="titulo__box">Registrar-se</h1>
                
                <div class="botoes__usuarios">
                    <button class="btn laranja negrito" onclick="pessoaFisica(event)"> Pessoa Física </button>
                    <button class="btn laranja negrito" onclick="pessoaJuridica(event)"> Pessoa Juridica </button>
                </div>

                <label for="nome" class="label_tela_cadastro"> Nome </label>
                <input id="nome" class="input__texto" name="nome_cadastro" type="text" placeholder="Digite o Nome da Pessoa Fisica" data-tipo="texto" required/>
                
                <label for="cnpj_cpf" class="label_tela_cadastro" id="label_cnpj_cpf"> CPF </label>
                <input id="cnpj_cpf" class="input__texto" name="cnpj_cpf_cadastro" type="text" placeholder="Digite o CPF" minlength="14" maxlength="14" onkeypress="aplicaMascara()" data-tipo="texto"  required/>
                
                <label for="email" class="label_tela_cadastro"> Email </label>
                <input id="email" class="input__texto" name="email_cadastro" type="email" placeholder="Digite seu e-mail" data-tipo="email" required/>
                
                <label for="senha" class="label_tela_cadastro"> Senha </label>
                <input id="senha" class="input__texto" name="senha_cadastro" type="password" placeholder="Digite sua senha" data-tipo="senha" required/>
            </div>
            <div class="btn__continuar">
                <button type="submit" class="btn btn__azul negrito" id="adicionar"> Registrar-se </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}