{% extends 'index.html' %} 
{% block content %} 
<div class="container">
  {% include 'menu.html'%}
  <div class="container_conteudo">
    <div class="corpo">
      <section class="informacoes__empresa__cabecalho">
        <div class="informacoes__empresa">
          <div class="informacoes__empresa__texto">
            <h1 class="titulo">{{empresa.nome_fantasia}}</h1>
            <p class="empresa__email">{{empresa.email}}</p>
          </div>
          <div class="editar__empresa" style="display: none;">
            <h2 class="sub__titulo"> Editar Empresa </h2>
            <form class="formulario__editar__empresa" action="{% url 'Agendador:verifica_botoes_editar_empresa' %}" method="post">   {% csrf_token %}
              <input type="text" name="nome_empresa" value="{{empresa.nome_fantasia}}" class="input__de__texto fundo__branco">
              <input type="text" name="email_empresa" value="{{empresa.email}}" class="input__de__texto fundo__branco">
              <input type="password" name="senha_empresa" class="input__de__texto fundo__branco" placeholder="Alterar senha">

              <button type="submit" name="editar" class="btn btn__adicionar"> Alterar </button>
              <button type="submit" name="cancelar" class="btn btn__cancelar">Cancelar</button>
            </form>
          </div>
        </div>
        <button class="btn__icon" onclick="EditarEmpresa()">
          <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
          </svg>
        </button>
      </section>

      <section class="conteudo">
        <section class="funcionarios">
          <h2 class="sub__titulo">Funcionários cadastrados</h2>
          <div class="caixa__cadastrados">
            {% for funcionario in funcionarios %}
              <button class="caixa__cadastrados__botao" onclick="ExibirEditarFuncionario('{{funcionario.nome}}', '{{funcionario.id}}')"> {{funcionario.nome}} </button>
            {% endfor%}

            <button onclick="ExibirCadastroFuncionario()" class="caixa__cadastrados__botao">+</button>

            <div class="formulario__adicionar">
              <form action="{% url 'Agendador:criar_funcionario' %}" method="post">
                {% csrf_token %}
                <div id="checkBoxFunc" style="display: none" class="formulario__informacoes">
                  <input type="text" name="nome_funcionario" class="input__de__texto fundo__branco" placeholder="Nome Completo"/>
                  
                  <button type="submit" class="btn btn__adicionar">Confirmar</button>
                </div>
              </form>
            </div>
            <div class="formulario__editar">
              <form action="{% url 'Agendador:verifica_botoes_funcionario'%}" method="post">
                {% csrf_token %}
                <div id="checkBoxFuncEdit" style="display: none" class="formulario__informacoes">
                    <input type="text" name="id_funcionario" id="id_funcionario" hidden/>
                    <input type="text" class="input__de__texto fundo__branco" name="nome_funcionario" id="nome_funcionario"/>
                    <div class="botoes__pequenos">
                      <button type="submit" name="editar_funcionario" class="btn btn__adicionar">Editar</button>
                      <button type="submit" name="excluir_funcionario" class="btn btn__cancelar">Excluir</button>
                    </div>
                </div>
              </form>
            </div>
          </div>
        </section>
        
        <section class="servicos">
          <h2 class="sub__titulo">Serviços cadastrados</h2>
          <div class="caixa__cadastrados">
            {% for servico in servicos %}
            <button class="caixa__cadastrados__botao" onclick="ExibirEditarServico('{{servico.nome}}', '{{servico.preco}}', '{{servico.descricao}}', '{{servico.id}}')">
              {{servico.nome}}
            </button>
            {% endfor%}
      
            <button onclick="ExibirCadastroServico()" class="caixa__cadastrados__botao">+</button>
            
            <div class="formulario__adicionar">
              <form action="{%url 'Agendador:criar_servico' %}" method="post">
                {% csrf_token %}
                <div id="checkBoxServ" style="display: none" class="formulario__informacoes">

                  <input type="text" name="servico_nome" class="input__de__texto fundo__branco" placeholder="Nome do Serviço"/>
                  <input type="number" name="servico_valor" step="0.01" min="0" class="input__de__texto fundo__branco" placeholder="Valor"/>
                  <input type="text" name="servico_descricao" class="input__de__texto fundo__branco" placeholder="Descrição"/>
                  <button type="submit" class="btn btn__adicionar">Confirmar</button>
                </div>
              </form>
            </div>
            <div class="formulario__editar">
              <form action="{% url 'Agendador:verifica_botoes_servico'%}" method="post">
                {% csrf_token %}
                <input id="servico_id" name="servico_id" hidden />
                <div id="checkBoxServEdit" style="display: none" class="formulario__informacoes">
                    <input type="text" name="servico_nome" id="servico_nome" class="input__de__texto fundo__branco"/>
                    <input type="number"  step="0.01" min="0" name="servico_valor" id="servico_valor" class="input__de__texto fundo__branco"/>
                    <input type="text" name="servico_descricao" id="servico_descricao" class="input__de__texto fundo__branco"/>
                    <div class="botoes__pequenos">
                      <button type="submit" name="editar_servico" class="btn btn__adicionar">Editar</button>
                      <button type="submit" name="excluir_servico" class="btn btn__cancelar">Excluir</button>
                    </div>
                </div>
              </form>
            </div>
          </div>
        </section>

        <section class="clientes">
          <h2 class="sub__titulo">Clientes cadastrados</h2>
          <div class="caixa__cadastrados">
            {% for cliente in clientes %}
              <button class="caixa__cadastrados__botao" onclick="ExibirEditarCliente('{{cliente.nome}}', '{{cliente.id}}')"> {{cliente.nome}} </button>
            {% endfor%}

            <button onclick="ExibirCadastroCliente()" class="caixa__cadastrados__botao">+</button>
            <div class="formulario__adicionar">
              <form action="{% url 'Agendador:criar_cliente' %}" method="POST">
                {% csrf_token %}
                <div id="checkBoxCliente" style="display: none" class="formulario__informacoes">
                  <input type="text" class="input__de__texto fundo__branco" name="nome_cliente" placeholder="Nome Completo" />
                  <button type="submit" class="btn btn__adicionar">Confirmar</button>
                </div>
              </form>
            </div>
            <div class="formulario__editar">
              <form action="{% url 'Agendador:verifica_botoes_cliente'%}" method="post">
                {% csrf_token %}
                <div id="checkBoxClienteEdit" style="display: none" class="formulario__informacoes">
                  <input type="text" name="id_cliente" id="id_cliente" hidden/>
                  <input type="text" class="input__de__texto fundo__branco" name="nome_cliente" id="nome_cliente" />
                  <div class="botoes__pequenos">
                    <button type="submit" name="editar_cliente" class="btn btn__adicionar"> Salvar </button>
                    <button type="submit" name="excluir_cliente" class="btn btn__cancelar"> Excluir </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </section>
      </section>
    </div>
  </div>
</div>
{% endblock %}
