
{% extends 'index.html' %}

{% block content %}

    <div class="corpo">
        <h1 class="adicionar_agendamento-titulo">Adicionar agendamento</h1>
        <div class="novo_agendamento">
            <input class="adicionar_agendamento-input" type="text" placeholder="Cliente">
            <input class="adicionar_agendamento-input" type="date">
            <input class="adicionar_agendamento-input" type="time">
            <select class="adicionar_agendamento-input" name="funcionario" id="select-func">
                <option value="funcionario--valor">Funcionário</option>
            </select>
            <select class="adicionar_agendamento-input" id="select-serv">
                <option value="servico--valor">Serviço</option>
            </select>
            <button class="adicionar_agendamento-botao" id="add-agend">Adicionar</button>
        </div>
	</div>

{% endblock %}