<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Contas a Receber</title>
        <link rel="stylesheet" type="text/css" href="../css/contasAReceber.css">
        <link rel="stylesheet" href="../css/main.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet">
    </head>
    
    <body>
        <div class="corpo">
            <header>
                <h1> Contas a Receber </h1>
                <div class="container-linha1">
                    <div class="campo-pesquisa">
                        <label for="pesquisar"> 
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                            </svg> 
                        </label>
                        <input id="pesquisar" type="text" placeholder="Pesquisar">
                    </div>
                    <a href="adicionar.html" class="container_botoes_finais btn-adicionar"> + Adicionar </a>
                    <button class="container_botoes_finais btn-relatorio"> Gerar Relatório </button>
                </div>
                <div class="linha-opcoes">
                    <div class="container-datas">
                        <div class="data inicio">
                            <label for="data-inicio"> Inicio: </label>
                            <input id="data-inicio" type="date">
                        </div>
                        <div class="data fim">
                            <label for="data-fim"> Final: </label>
                            <input id="data-fim" type="date">
                        </div>
                    </div>
                    <div class="filtros">
                        <select class="status">
                            <option value="status"> Status </option>
                            <option value="Pendente"> Pedente </option>
                            <option value="Quitado"> Quitado </option>
                        </select>
                        <select class="funcionario">
                            <option value="funcionario"> Funcionário </option>
                            <option value="Cleide"> Cleide </option>
                            <option value="Peggy"> Peggy </option>
                            <option value="Ravona"> Ravona </option>
                        </select>
                    </div>
                </div>
            </header>
            <section class="section-total">
                <div class="total">
                    <h3> Total de Contas Recebidas </h3>
                    <p class="recebidas"> R$ 40,00 </p>
                </div>
                <div class="total">
                    <h3> Total de Contas a Receber </h3>
                    <p class="a-receber"> R$ 40,00 </p>
                </div>
            </section>
            <section>
                <details>
                    <summary>
                        <div class="servico">
                            <div class="servico-cabecalho">
                                <div class="servico-e-valor">
                                    <h1 class="servico-titulo">Corte de cabelo</h1>
                                    <p class="servico-preco"> R$ 40,00 </p>
                                </div>
                                    <div class="servico-status">
                                        <p class="status-quitado"> Quitado </p>
                                    </div>
                            </div>
                            <p class="servico-paragrafo"> Funcionário: Cleide</p>
                            <p class="servico-paragrafo"> Cliente: Fulainha</p>
                        </div>
                    </summary>
                    <p class="servico-paragrafo">Data de vencimento: 30/10/2021</p>
                    <div class="pago-e-editar">
                        <p class="servico-paragrafo">Pago em 30/10/2021 </p>
                        <div class="servico-editar">
                            <a href="editar.html" class="servico-editar-icone"><img src="../icones/editar.svg" alt="Icone de editar"></a>
                        </div>
                    </div>
                </details>
                <details>
                    <summary>
                        <div class="servico">
                            <div class="status-e-edicao">
                            </div>
                            <div class="servico-cabecalho">
                                <div class="servico-e-valor">
                                    <h1 class="servico-titulo">Corte de cabelo</h1>
                                    <p class="servico-preco"> R$ 40,00 </p>
                                </div>
                                <div class="servico-status">
                                    <p class="status-pendente"> Pendente </p>
                                </div>
                            </div>
                            <p class="servico-paragrafo"> Funcionário: Cleide</p>
                            <p class="servico-paragrafo"> Cliente: Fulainha</p>
                        </div>
                    </summary>
                    <p class="servico-paragrafo">Data de vencimento: 30/10/2021</p>
                    <div class="pago-e-editar">
                        <p class="servico-paragrafo">Pago em - </p>
                        <div class="servico-editar">
                            <a href="editar.html" class="servico-editar-icone"><img src="editar-preto.svg" alt="Icone de editar"></a>
                        </div>
                    </div>
                </details>
            </section>

        </div>
            
    </body>

</html>
