{% extends 'index.html' %}
{% block content %} {% include 'menu.html'%}
        <div class="corpo">
            <h1 class="titulo"> Contas a Receber </h1>
            <form action="{% url 'Contas_a_Receber:verifica_botoes_adicionar_conta' %}" method="POST">
                {% csrf_token %}
                <div class="informacoes-pagamento ">
                    <div class="informacoes-emissao">
                        <h1 class="titulo__informacoes com__margem negrito"> Informações de Pagamento </h1>
                        <div class="data__emissao">
                            <p class="data__emissao__paragrafo negrito">Data de Emissão: {{data_de_emissao|date:"SHORT_DATE_FORMAT"}}</p>
                        </div>
                    </div>
                    <div class="forma_de_pagamento">
                        <select class="select altura__32px" name="forma_de_pagamento">
                            <option value="None"> Forma de Pagamento </option>
                            {% for forma in formas_de_pagamento %}
                            <option value="{{forma.id}}">{{forma.nome}}</option>
                            {% endfor %}
                        </select>
                        <button class="btn btn__adicionar" onclick="abrirModal(event)">+</button>
                    </div>
                    <div class="container__datas">
                        <div class="data">
                            <label for="data-fim" class="label__input"> Data de Vencimento: </label>
                            <input id="data-fim" name="data_vencimento" type="date" class="input__com__label" data-tipo="data">
                        </div>
                    </div>
                    <div class="flex-row-item">
                        <div class="container__input__label">
                            <label for="valor" class="label__input"> Valor: </label>
                            <input id="valor" name="valor" type="number" step="0.01" min="0" class="input__com__label placeholder__cinza" data-tipo="valor" placeholder="R$ -">
                        </div>
                    </div>
                </div>
                <div class="informacoes-gerais">
                    <div class="informacoes-emissao">
                        <h1 class="titulo__informacoes negrito"> Informações Gerais </h1>
                    </div>      
                    <div class="selecoes">
                        <select id="servico" name="id_servico" class="select altura__32px">
                            <option value="None">Todos Servicos</option>
                            {% for servico in servicos %}
                              <option value="{{servico.id}}">{{servico.nome}}</option>
                            {% endfor %}
                        </select>
                        
                        <select id="funcionario" name="id_funcionario" class="select altura__32px">
                            <option value="None">Todos Funcionários</option>
                            {% for funcionario in funcionarios %}
                                <option value="{{funcionario.id}}">{{funcionario.nome}}</option>
                            {% endfor %}
                        </select>
    
                        <select id="cliente" name="id_cliente" class="select altura__32px">
                            <option value="None">Todos Clientes</option>
                            {% for cliente in clientes %}
                              <option value="{{cliente.id}}">{{cliente.nome}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="botoes">
                    <button class="btn btn__cancelar preencher negrito" name="cancelar" type="submit"> Cancelar </button>
                    <button class="btn btn__adicionar preencher negrito" name="adicionar" id="adicionar" type="submit"> Adicionar </button>
                </div>
            </form>
            
        </div>
        {% include 'contas_a_receber/adicionar_forma_de_pagamento_modal.html' %}                
{% endblock %}