{% extends 'index.html' %}

{% block content %}
        <div class="corpo">
            <h1 class="titulo"> Contas a Receber </h1>
            
            <div class="container-linha1">
                <a href="adicionar.html" class="container_botoes_finais btn__adicionar"> + Adicionar </a>
                <button class="container_botoes_finais btn__relatorio"> Gerar Relatório </button>
            </div>
            
            <form action="" method="POST"> {% csrf_token %}
                <h2 class="sub__titulo"> Filtros </h2>
                <section class="filtros__contas_a_receber">
                    <div class="container__datas">
                        <div class="data">
                            <label for="data-inicio" class="label__input"> Data Inicial: </label>
                            <input id="data-inicio" type="date" class="input__com__label">
                        </div>
                        <div class="data">
                            <label for="data-fim" class="label__input"> Data Final: </label>
                            <input id="data-fim" type="date" class="input__com__label">
                        </div>
                        <select name="opcao_data" class="select">
                            <option value="todas"> Todas as datas </option>
                            <option value="data_emissao"> Data de Emissão </option>
                            <option value="data_pagamento"> Data de Pagamento </option>
                            <option value="data_vencimento"> Data de Vencimento </option>
                        </select>
                    </div>
                    
                    <div class="selecoes">   
                        <select id="funcionario" name="funcionario" class="select">
                            <option>Todos Funcionários</option>
                            {% for funcionario in funcionarios %}
                                <option value="{{funcionario.id}}">{{funcionario.nome}}</option>
                            {% endfor %}
                        </select>
                        
                        <select id="servico" name="servico" class="select">
                            <option>Todos Servicos</option>
                            {% for servico in servicos %}
                              <option value="{{servico.id}}">{{servico.nome}}</option>
                            {% endfor %}
                        </select>

                        <select id="cliente" name="cliente" class="select">
                            <option>Todos Clientes</option>
                            {% for cliente in clientes %}
                              <option value="{{cliente.id}}">{{cliente.nome}}</option>
                            {% endfor %}
                        </select>
                        
                        <select name="Status" class="select">
                            <option value="0"> Pedente </option>
                            <option value="1"> Quitado </option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn__filtrar pequeno"> Filtrar </button>
                </section>
            </form>
            
            <h2 class="sub__titulo"> Contas </h2>
            <section class="section-total">
                <div class="total">
                    <h3> Total Recebido </h3>
                    <p class="recebidas"> R$ {{total_recebido}} </p>
                </div>
                <div class="total">
                    <h3> Total a Receber </h3>
                    <p class="a-receber"> R$ {{total_a_receber}} </p>
                </div>
            </section>
            <section>
                {% if contas_a_receber %}
                    <div class="contas"> 
                        {% for conta in contas_a_receber %}
                            <details class="conta">
                                <summary class="summary">
                                    <div class="conta__cabecalho">
                                        <div class="servico__e__valor">
                                            <h3 class="servico__titulo">{{conta.agendamento.servico.nome}}</h3>
                                            <p class="servico__preco"> R$ {{conta.agendamento.servico.preco}}</p>
                                        </div>
                                        <p class="status__conta quitado"> {{conta.pago}} </p>
                                    </div>
                                </summary>
                                <div class="caixa__informacoes">
                                    <h1 class="titulo__informacoes"> Informações Gerais </h1>
                                    <p class="servico__paragrafo"> Funcionário: {{conta.agendamento.funcionario.nome}}</p>
                                    <p class="servico__paragrafo"> Cliente: {{conta.agendamento.cliente.nome}}</p>
                                </div>
                                <div class="caixa__informacoes">
                                    <h1 class="titulo__informacoes"> Informações de Pagamento </h1>
                                    <p class="servico__paragrafo">Data de vencimento: {{conta.data_de_vencimento}}</p>
                                    <p class="servico__paragrafo">Pago em 30/10/2021 </p>
                                </div>
                                
                                <form action="{% url 'editar_conta' %}" method="POST"> {% csrf_token %}
                                    <input name="id_conta" value="{{conta.id}}" hidden>
                                    <button type="submit" class="btn__icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                        </svg>
                                    </button>
                                </form>
                            </details>                
                        {% endfor %}
                    </div>
                {% else %}
                    <p class="nao__encontrado"> Nenhuma conta encontrada </p>
                {% endif %}
            </section>

               
        </div>
            
{% endblock %}
