{% extends 'index.html' %}
{% block content %} {% include 'menu.html'%}
        <div class="corpo">
            <h1 class="titulo"> Contas a Receber </h1>
            
            <div class="container-linha1">
                <a href="{% url 'Contas_a_Receber:adicionar_conta' %}" class="container_botoes_finais btn__adicionar__conta"> + Adicionar </a>
                <a href="{% url 'Contas_a_Receber:relatorio' %}" class="container_botoes_finais btn__relatorio"> Gerar Relatório </a>
            </div>
            
            <form action="{% url 'Contas_a_Receber:tela_contas_a_receber' %}" method="POST"> {% csrf_token %}
                <h2 class="sub__titulo"> Filtros </h2>
                
                    <!-- Antigo container de datas -->
                    <!-- <div class="container__datas">
                        <div class="data">
                            <label for="data-inicio" class="label__input"> Data Inicial: </label>
                            <input name="data_inicial" id="data-inicio" type="date" class="input__com__label">
                        </div>
                        <div class="data">
                            <label for="data-fim" class="label__input"> Data Final: </label>
                            <input name="data_final" id="data-fim" type="date" class="input__com__label">
                        </div>
                        <select name="opcao_data" class="select">
                            <option value="todas"> Todas as datas </option>
                            <option value="data_emissao"> Data de Emissão </option>
                            <option value="data_pagamento"> Data de Pagamento </option>
                            <option value="data_vencimento"> Data de Vencimento </option>
                        </select>
                    </div> -->
                    <!-- Antigo container de datas -->

                    <!-- Container novo de datas -->
                    <section class="filtro--datas">
                        <details class="filtro--datas--details">
                            <summary class="container--filtros--datas">
                                <div class="filtro--datas--cabecalho">
                                    <h1 class="titulo--filtro--datas">
                                        Data de vencimento
                                    </h1>
                                </div>
                            </summary>
                            <div class="filtro--datas--inputs">
                                <h3>Data inicial:</h3>
                                <input type="date" class="filtro--datas--input" name="data_inicial--vencimento">
                                <h3>Data final:</h3>
                                <input type="date" class="filtro--datas--input" name="data_final--vencimento">
                            </div>
                        </details>
                        <details class="filtro--datas--details">
                            <summary class="container--filtros--datas">
                                <div class="filtro--datas--cabecalho">
                                    <h1 class="titulo--filtro--datas">
                                        Data de emissão
                                    </h1>
                                </div>
                            </summary>
                            <div class="filtro--datas--inputs">
                                <h3>Data inicial:</h3>
                                <input type="date" class="filtro--datas--input" name="data_inicial--emissao">
                                <h3>Data final:</h3>
                                <input type="date" class="filtro--datas--input" name="data_final--emissao">
                            </div>
                        </details>
                        <details class="filtro--datas--details">
                            <summary class="container--filtros--datas">
                                <div class="filtro--datas--cabecalho">
                                    <h1 class="titulo--filtro--datas">
                                        Data de pagamento
                                    </h1>
                                </div>
                            </summary>
                            <div class="filtro--datas--inputs">
                                <h3>Data inicial:</h3>
                                <input type="date" class="filtro--datas--input" name="data_inicial--pagamento">
                                <h3>Data final:</h3>
                                <input type="date" class="filtro--datas--input" name="data_final--pagamento">
                            </div>
                        </details>
                    </section>
                    <!-- Container novo de datas -->

                    <!-- Css container novo de datas -->
                    <style>
                        .filtro--datas {
                            width: 100%;
                            margin: 8px auto;

                            display: flex;
                            flex-direction: row;
                            align-items: flex-start;
                            justify-content: space-between;
                        }

                        .filtro--datas--details {
                            display: flex;
                            flex-direction: column;

                            padding: 8px;

                            width: 30%;
                            
                            margin: 0 4px;

                            color: black;

                            background-color: whitesmoke;

                            border-radius: 4px;

                            cursor: pointer;
                        }

                        .filtro--datas--cabecalho {
                            width: 90%;
                            margin: 0 auto;

                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                        }

                        .titulo--filtro--datas {
                            max-width: 100px;

                            cursor: pointer;
                        }

                        .filtro--datas--inputs {
                            width: 100%;

                            margin: 16px auto 0 auto;

                            display: flex;
                            flex-direction: column;
                            align-items: left;

                            cursor: initial;
                        }

                        .filtro--datas--input {
                            width: 90%;
                            
                            margin: 8px auto;
                            padding: 4px;
                        }
                    </style>
                    <!-- Css container novo de datas -->
                    
                    <div class="selecoes">   
                        <select id="funcionario" name="funcionario" class="select">
                            <option value="todos_funcionarios">Todos Funcionários</option>
                            {% for funcionario in funcionarios %}
                                <option value="{{funcionario.id}}">{{funcionario.nome}}</option>
                            {% endfor %}
                        </select>
                        
                        <select id="servico" name="servico" class="select">
                            <option value="todos_servicos">Todos Servicos</option>
                            {% for servico in servicos %}
                              <option value="{{servico.id}}">{{servico.nome}}</option>
                            {% endfor %}
                        </select>

                        <select id="cliente" name="cliente" class="select">
                            <option value="todos_clientes">Todos Clientes</option>
                            {% for cliente in clientes %}
                              <option value="{{cliente.id}}">{{cliente.nome}}</option>
                            {% endfor %}
                        </select>
                        
                        <select name="status" class="select">
                            <option value="0"> Todos os Status </option>
                            <option value="1"> Pedente </option>
                            <option value="2"> Quitado </option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn__filtrar pequeno"> Filtrar </button>
                </section>
            </form>
            
            <h2 class="sub__titulo"> Contas </h2>
            <section class="section-total">
                <div class="total">
                    <h3> Total Recebido </h3>
                    <p class="recebidas"> R$ {{total_recebido}} </p>
                </div>
                <div class="total">
                    <h3> Total a Receber </h3>
                    <p class="a-receber"> R$ {{total_a_receber}} </p>
                </div>
            </section>
            <section>
                {% if contas_a_receber %}
                    <div class="contas"> 
                        {% for conta in contas_a_receber %}
                            <details class="conta">
                                <summary class="summary">
                                    <div class="conta__cabecalho">
                                        <div class="servico__e__valor">
                                            <h3 class="servico__titulo">{{conta.servico.nome}}</h3>
                                            {% if conta.pago %}
                                                <p class="servico__preco"> R$ {{conta.total}}</p>
                                            {% else %}
                                                <p class="servico__preco"> R$ {{conta.valor}}</p>
                                            {% endif %}
                                        </div>
                                        {% if conta.pago %}
                                            <p class="status__conta quitado"> Quitado </p>
                                        {% else %}
                                            <p class="status__conta pendente"> Pendente </p>
                                        {% endif %}
                                    </div>
                                </summary>
                                <div class="caixa__informacoes">
                                    <h1 class="titulo__informacoes"> Informações Gerais </h1>
                                    <p class="servico__paragrafo"> Funcionário: {{conta.funcionario.nome}}</p>
                                    <p class="servico__paragrafo"> Cliente: {{conta.cliente.nome}}</p>
                                </div>
                                <div class="caixa__informacoes">
                                    <h1 class="titulo__informacoes"> Informações de Pagamento </h1>
                                    <p class="servico__paragrafo">Data de vencimento: {{conta.data_de_vencimento|date:"SHORT_DATE_FORMAT"}}</p>
                                    <p class="servico__paragrafo"> Forma de pagamento: {{conta.forma_de_pagamento.nome}}</p>
                                    {%if conta.data_de_pagamento%}
                                        <p class="servico__paragrafo">Pago em {{conta.data_de_pagamento|date:"SHORT_DATE_FORMAT"}} </p>
                                    {% endif %}
                                </div>
                                <form action="{% url 'Contas_a_Receber:verifica_botoes_tela_contas_a_receber' %}" method="POST"> {% csrf_token %}
                                    <input name="id_conta" value="{{conta.id}}" hidden>
                                    <div class="botoes">
                                        <button type="submit" class="btn com__icon laranja tamanho__pequeno preencher" name="editar">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                            </svg>
                                            Editar
                                        </button>
                                        {% if conta.pago %}
                                            <button class="btn btn__cancelar preencher negrito" name="cancelar_pagamento" type="submit"> Cancelar Pagamento </button>
                                        {% else %}
                                            <button class="btn btn__adicionar preencher negrito" name="tela_pagamento" type="submit"> Pagar </button>
                                        {% endif %}
                                    </div>
                                </form>
                            </details>                
                        {% endfor %}
                    </div>
                {% else %}
                    <p class="nao__encontrado"> Nenhuma conta encontrada </p>
                {% endif %}
            </section>

               
        </div>
            
{% endblock %}