{% extends 'index.html' %}

{% block content %} {% include 'menu.html'%}
        <div class="corpo">
            <h1 class="titulo"> Contas a Receber </h1>
            <form action="{% url 'Contas_a_Receber:verifica_botoes_tela_editar' %}" method="POST">
                {% csrf_token %}
                <div class="informacoes-gerais">
                    <div class="informacoes-emissao">
                        <h1 class="titulo__informacoes negrito"> Informações Gerais </h1>
                        <div class="data__emissao">
                            <p class="data__emissao__paragrafo negrito">Data de Emissão: {{conta.data_de_emissao}}</p>
                        </div>
                    </div>      
                    {% if not conta.agendamento %}
                        {% include 'contas_a_receber/selecoes_contas_a_receber.html'%}
                    {% else %}
                        {% include 'contas_a_receber/informacoes_paragrafos.html'%}
                    {% endif %}
                </div>
                <div class="informacoes-pagamento ">
                    <h1 class="titulo__informacoes com__margem negrito"> Informações de Pagamento </h1>
                    <p class="informacao__paragrafo">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
                            <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
                        </svg>
                        Valor: R$ {{conta.valor}}
                    </p>
                    <div class="data">
                      <label for="data-inicio" class="label__input"> Data de Vencimento: </label>
                      <input id="data-inicio" type="date" class="input__com__label" name="data_vencimento" value="{{data_de_vencimento}}">
                    </div>  
                    
                    <div class="forma_de_pagamento">
                        <select class="select altura__32px" name="forma_de_pagamento">
                            <option value="{{conta.forma_de_pagamento.id}}"> {{conta.forma_de_pagamento.nome}} </option>
                            {% for forma in forma_de_pagamento %}
                            <option value="{{forma.id}}">{{forma.nome}}</option>
                            {% endfor %}
                        </select>
                        <button class="btn btn__adicionar" onclick="abrirModal(event)">+</button>
                    </div>
                <div class="botoes">
                    <button class="btn btn__cancelar preencher negrito" name='cancelar' type="submit"> Cancelar </button>
                    <button class="btn btn__adicionar preencher negrito" name='salvar' type="submit"> Salvar </button>
                </div>
            </form>
        </div>
        {% include 'contas_a_receber/adicionar_forma_de_pagamento_modal.html' %}          
    </div>
{% endblock %}