<div class="selecoes">
    <select id="servico" name="id_servico" class="select altura__32px">
        <option value="{{conta.servico.id}}">{{conta.servico.nome}}</option>
        {% for servico in servicos %}
          <option value="{{servico.id}}">{{servico.nome}}</option>
        {% endfor %}
    </select>
    
    <select id="funcionario" name="id_funcionario" class="select altura__32px">
        <option value="{{conta.funcionario.id}}">{{conta.funcionario.nome}}</option>
        {% for funcionario in funcionarios %}
            <option value="{{funcionario.id}}">{{funcionario.nome}}</option>
        {% endfor %}
    </select>

    <select id="cliente" name="id_cliente" class="select altura__32px">
        <option value="{{conta.cliente.id}}">{{conta.cliente.nome}}</option>
        {% for cliente in clientes %}
          <option value="{{cliente.id}}">{{cliente.nome}}</option>
        {% endfor %}
    </select>
</div>