{% extends 'index.html' %} {% block content %}
<div class="container__login">
  <h2 class="titulo__login"> Bem-vindo! </h2>
  <form action="{% url 'Login:realizar_login' %}" method="POST" class="formulario__login">
    {% csrf_token %}
      <input class="input__texto" type="email" name="email" placeholder="Email" />
      <input class="input__texto" type="password" name="senha" placeholder="Senha" />
      <button class="btn btn__azul negrito botao__login" type="submit" id="Entrar"> Entrar </button>
  </form>
  <p class="cadastro"> Não tem uma conta? <a href="{% url 'Login:cadastro_empresa' %}"> Cadastre-se </a></p>
  <p class="cadastro"> Esqueceu sua senha? <a href="{% url 'Login:redefinir_senha' %}"> Clique aqui.</p>
</div>
{% endblock %}
